<!DOCTYPE html>
<html>
<head>
    <title><%= product.name %></title>
    <link rel="stylesheet" href="product.css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
      
</head>
<body>
    <div class="product-detail-container">
        <img src="<%= product.images && product.images.length > 0 ? product.images[0] : '/images/default-product.png' %>" alt="<%= product.name %>" class="product-image">
        <h1 class="product-name"><%= product.name %></h1>
        <p class="product-price">$<%= product.price %></p>
        <p class="product-description"><%= product.description %></p>

        <div class="product-attributes">
            <p><strong>Category:</strong> <%= product.category ? product.category.name : 'N/A' %></p>
            <p><strong>Metal:</strong> <%= product.metalType || 'N/A' %></p>
            <p><strong>Gemstone:</strong> <%= product.gemstone || 'N/A' %></p>
            <p><strong>Style:</strong> <%= product.style || 'N/A' %></p>
            <p><strong>Jewelry Type:</strong> <%= product.jewelryType || 'N/A' %></p>
            <p><strong>Brand:</strong> <%= product.brand || 'N/A' %></p>
            <p><strong>Collection:</strong> <%= product.collection || 'N/A' %></p>
        </div>

        <a href="/productList" class="back-to-products">Back to Products</a>
    </div>
</body>
</html>